<div>
    <app-nav class="top"></app-nav>
</div>

<div class="card" style="margin-top:5% ;margin-left:38% ; width:30% ;">
    <h3 class="card-header">Employee check</h3>
    <div class="card-body">
        <h4 class="card-title">Enter Emp ID</h4>
        <div class="form-outline mb-5">
            <input type="text" id="input1" class="form-control" [formControl]="empControl" placeholder="Emp Number" />
            <p></p>
            <h3 *ngIf="onClick" style="color:red ;"> Employee Status: {{statusResponse.response}}</h3>
        </div>
        <button type="button" class="btn btn-dark" (click)="submit()">Submit</button>
    </div>
</div>